:root {
    --dark: #171717;
    --dark2: #222;
    --dark3: #333;
    --light: #f8f8f8;
    --txt: #c3c3c3;
    --gray: #999;
    --main-color: rgb(0, 183, 255);
    --warning: #9f6000;
    --error: #d8000c;
    --info: #31708f;
    --success: #84ff00;
    --msg-bg: #005ebd;
}
:focus {
    outline: none;
}
::placeholder {
    font-size: 12px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    caret-color: var(--main-color);
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
input {
    caret-color: var(--main-color);
}
@media (max-width: 767px) {
    .section-title {
        margin-bottom: 0px;
    }
}
.container {
    width: 100%;
    padding: 0 5px;
}
@media (min-width: 780px) {
    .container {
        width: 765px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container {
    margin: auto;
}
body {
    position: relative;
    min-height: 100vh;
    font-family: sans-serif;
    max-width: 100%;
    background-color: var(--dark);
    padding-top: 60px;
}
@media (max-width: 767px){
    body {
        padding-bottom: 60px;
    }
}
.page-header {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid var(--dark2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    z-index: 99999;
}
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header .container .logo {
    width: fit-content;
}
.page-header .container .logo a {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--main-color);
    animation: textShadow 1s ease infinite;
}
.page-header .container nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header .container nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header .container nav ul li a {
    display: block;
    padding: 10px;
    color: var(--light);
    font-size: 18px;
    opacity: .5;
}
.page-header .container nav ul li a i {
    font-size: 1.2em;
}
.page-header .container nav ul li a.active,
.page-header .container nav ul li a:hover {
    opacity: 1;
}
.page-header .container nav .icon {
    width: 40px;
    height: 40px;
    background-color: var(--dark3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
}
.page-header .container nav .icon i {
    color: var(--light);
    font-size: 1.2em;
}
.page-header .container nav .icon i.fa-close {
    color: #f00;
}

@media (min-width: 768px) {
    .page-header .container nav .icon {
        display: none;
    }
    .page-header .container nav ul {
        display: flex;
    }
}
@media (max-width: 780px) {
    .page-header .container nav {
        width: fit-content;
    }
    .page-header .container nav .icon {
        display: flex;
    }
    .page-header .container nav ul {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding-top: 30px;
        padding: 0;
    }
    .page-header .container nav ul.active {
        display: block;
        z-index: 9;
        background-color: var(--dark);
    }
    .page-header .container nav ul li {
        display: block;
        width: 100%;
        border-bottom: 1px solid var(--dark);
    }
    .page-header .container nav ul li:last-child {
        border-bottom: none;
    }
    .page-header .container nav ul li a {
        display: block;
        width: 100%;
        padding: 10px;
        transition: .2s;
    }
    .page-header .container nav ul li a.active,
    .page-header .container nav ul li a:hover {
        background-color: rgba(0, 0, 0, .2);
    }
}
/* ################################# Fore phone nav ################################*/
::-webkit-scrollbar {
    width: 0;
}
ul.phone {
    display: none;
    z-index: 9999;
}
@media (max-width: 767px) {
    .phone {
    display: flex !important;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, .45);
    backdrop-filter: blur(15px);
    justify-content: space-between;
    align-items: center;
    }
    .phone li {
        display: block;
        width: calc(100% / 4 - 15px);
    }
    .phone a {
        display: block;
        width: 100%;
        padding: 10px 5px;
        text-align: center;
        color: var(--light);
    }
    .page-header .container nav ul.links {
        display: none;
    }
    .home-box .container .suggestions {
        display: none;
    }
}






/* Landing page */
.landing {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .container .intro {
    width: 100%;
    text-align: center;
}
.landing .container .intro h1 {
    color: var(--main-color);
    padding: 20px 0;
    animation: textShadow 1s ease-in-out infinite both;
}
.landing .container .intro p {
    line-height: 1.4;
    color: #999;
    font-size: .9em;
    max-width: 80%;
    text-align: center;
    margin: auto;
    padding: 10px 0;
}
.landing .container .intro .signup {
    display: block;
    width: fit-content;
    padding: 12px 32px;
    color: var(--light);
    margin: 10px auto;
    border: 1px solid var(--dark2);
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(255, 255, 255, .1);
    transition: .2s;
}
.landing .container .intro .signup:hover {
    /* border-color: var(--main-color); */
    color: var(--main-color);
    text-shadow: 0 0 10px var(--main-color);
    box-shadow: none;
    transform: scale(.98);
    animation: textShadow 1s ease-in-out infinite both;

}
.landing .container .intro .links {
    width: 100%;
    margin: 20px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    justify-content: center;
}
.landing .container .intro .links a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    width: 50px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(255, 255, 255, .1);
    color: var(--light);
    transition: .2s;
}
.landing .container .intro .links a i {
    font-size: 1.2em;
}
.landing .container .intro .links a:hover {
    color: var(--main-color);
    box-shadow: none;
    transform: scale(.94);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, .1);
}
.landing .container .intro .links a:hover i {
    animation: textShadow 1s ease-in-out infinite both;

}









/* ##################################### Animations part ######################################### */
@keyframes textShadow {
    0%, 100% {
        text-shadow: 0 0 10px var(--main-color);
    }
    30% {
        text-shadow: 0 0 15px var(--main-color);
    }
    60% {
        text-shadow: 0 0 5px var(--main-color);
    }
}