.posts-section {
    width: 100%;
    max-width: 500px;
    padding: 10px 4px;
}
.posts-section .post-box {
    width: 100%;
    background-color: var(--dark2);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    margin: 5px 0;
}
.posts-section .post-box .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--dark); */
}
.posts-section .post-box .header .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.posts-section .post-box .header .user-info .user-pic {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    background-color: var(--dark3);
}
.posts-section .post-box .header .user-info .user-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.posts-section .post-box .header .user-info .user-pic .status {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 10px;
    height: 10px;
    border: 1px solid var(--dark);
    background-color: var(--success);
    border-radius: 50%;
}
.posts-section .post-box .header .user-info .user-pic .status.offline {
    background-color: var(--gray);
}
.posts-section .post-box .header .user-info .more {
    display: flex;
    flex-flow: column wrap;
}
.posts-section .post-box .header .user-info .more .user-name {
    font-size: 1.18em;
    color: var(--txt);
}
.posts-section .post-box .header .user-info .more .user-title {
    font-size: .85em;
    text-align: center;
    color: var(--gray);
}
.posts-section .post-box .header .post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.posts-section .post-box .header .post-info .post-date {
    font-size: .85em;
    color: var(--gray);
}
.posts-section .post-box .header .post-info .icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.posts-section .post-box .header .post-info .icon i {
    color: var(--txt);
    font-size: 1.3em;
}
.posts-section .post-box .post-content {
    width: 100%;
    padding: 3px 10px;
    /* border-bottom: 1px solid var(--dark); */
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.posts-section .post-box .post-content .post-text {
    padding: 4px 10px;
    color: var(--txt);
    line-height: 1.6;
    word-wrap: break-word;
}
.posts-section .post-box .post-content .post-image {
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    height: 300px;
    max-height: 400px;
    background-color: var(--dark);
    overflow: hidden;
    position: relative;
}
.posts-section .post-box .post-content .post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.posts-section .post-box .post-reaction {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}
.posts-section .post-box .post-reaction .reaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}
.posts-section .post-box .post-reaction .action {
    display: block;
    border: 1px solid var(--dark);
    padding: 5px 8px;
    background-color: transparent;
    border-radius: 4px;
    color: var(--txt);
    display: flex;
    gap: 4px;
    cursor: pointer;
}
.posts-section .post-box .post-reaction .action i {
    color: var(--txt);
    font-size: 1.3em;
}